<div class="item">
    <div>Avatar URL</div>
    <input 
        type="text" 
        name="avatar_url" 
        placeholder="http://"
        value="{{student.avatar_url}}">
</div>

<div class="item">
    <div>Nome Completo</div>
    <input 
        type="text" 
        name="name" 
        placeholder="Escreva o nome do aluno"
        value="{{student.name}}">
</div>

<div class="item">
    <div>Email</div>
    <input 
        type="email" 
        name="email"
        value="{{student.email}}"
        placeholder="email@email.com">
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <input 
        type="date" 
        name="birth"
        value="{{student.birth}}">
</div>

<div class="item">
    <div>Ano Escolar</div>
    <select name="school_year">
        <option value="5"
            {% if student.school_year == "5" %}
            selected
            {% endif %}
            >5º Ano do Ensino Fundamental
        </option>
        
        <option value="6"
            {% if student.school_year == "6" %}
                selected
            {% endif %}
            >6º Ano do Ensino Fundamental
        </option>
        
        <option value="7"
            {% if student.school_year == "7" %}
                selected
            {% endif %}
            >7º Ano do Ensino Fundamental
        </option>
        
        <option value="8"
            {% if student.school_year == "8" %}
                selected
            {% endif %}
            >8º Ano do Ensino Fundamental
        </option>
        
        <option value="9"
            {% if student.school_year == "9" %}
                selected
            {% endif %}
            >9º Ano do Ensino Fundamental
        </option>
        
        <option value="1"
            {% if student.school_year == "1" %}
                selected
            {% endif %}
            >1º Ano do Ensino Médio
        </option>
        
        <option value="2"
            {% if student.school_year == "2" %}
                selected
            {% endif %}
            >2º Ano do Ensino Médio
        </option>
        
        <option value="3"
            {% if student.school_year == "3" %}
                selected
            {% endif %}
            >3º Ano do Ensino Médio
        </option>
    </select>
</div>

<div class="item">
    <div>Carga Horária Semanal (horas)</div>
    <input 
        type="number" 
        name="course_load"
        value="{{student.course_load}}"
        placeholder="escreva o número de horas semanais">
</div>

<div class="item">
    <div>Professor</div>
    <select name="teacher">
    {% for teacher in teacherOptions %}
        <option 
            value="{{teacher.id}}" 
            {% if student.teacher_id == teacher.id %}
                selected
            {% endif %}
            >{{teacher.name}}
        </option>
    {% endfor %}                         
    </select>
</div>

<button type="submit">Salvar</button>