@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

:root{
    --primary-color: rgb(11, 136, 153);
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: var(--primary-color);
    font-family:'Roboto', sans-serif;
}

.links {
    background-color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    
}

.links a + a {
    margin-left: 40px;
}

.links a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

.links a.active{
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    background-color: var(--primary-color);
    transition: width 500ms ease-in-out;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card {
    width: 800px;
    min-height: 400px;
    background-color: white;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
    animation: anim 500ms ease reverse;   
}

@keyframes anim {
    from {
        opacity: 0;
    } to {
        opacity: 20;
        transform: translateY(20px);
    }
}

/* === DETALHES === */

.details {
    margin: 32px;
}

.details .item {
    border-top: 1px dotted #7777;
    margin: 14px
}

.details .item:first-of-type {
    border: none;
}

.details h3 {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 4px;
}

.details .item div:nth-child(2) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
}

.details span {
    display: inline-block;
    padding: 4px;
    background-color: rgb(245, 245, 140);
    margin-right: 8px;
    border-radius: 4px;
    font-size: 12px;
}

/* === REGISTER === */

input {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    width: 100%;
    background-color: rgb(241, 238, 238);
    border-radius: 4px;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;

}

.choice span {
    background-color: rgb(241, 238, 238);
}

input::placeholder {
    font-size: 14px;
    font-weight: normal;
}

select {
    color: #777;
    background-color: rgb(241, 238, 238);
    border-radius: 4px;
}

a.button,
button[type="submit"] {
    width: 95%;
    margin-left: 15px;
    padding: 4px 8px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

#delete button[type="submit"] {
    margin-top: 8px;
    background-color: palevioletred;
}

/*=== TABLE ===*/

.table-container {
    position: relative;
    display: block;
    padding: 35px;
    box-sizing: border-box;
    margin-top: 100px;
    height: 450px;
}

.table-container table {
    border-spacing: 0;
    text-align: center;
}

.table-container thead {
    text-transform: uppercase;
    color: #777;
}

.table-container th {
    width: 33%;
}

.table-container.student th {
    width: initial;
}

.table-container th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(221, 217, 217);
}


.table-container tbody tr td:first-child {
    align-items: center;
    display: grid;
    grid-template-columns: 64px 150px;
}

.table-container.student tbody tr td:first-child {
    align-items: center;
    display: grid;
    grid-template-columns: 35px 1fr;
}

.table-container tbody td:first-child span {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
    text-align: inherit
}

.table-container tbody tr:last-child td {
    border-bottom: none;
}

.table-container td:last-child a {
    color: white;
    background-color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 14px;
}

.card a.new_member {
    display: inline-block;
    margin-left: 280px;
    margin-top: 200px;
    padding: 4px 8px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
}

.table-container .header a.new_member {
    margin-top: 100px;
    width: 200px;
    text-align: center;
}

/* === FILTER === */

.table-container .header {
    display: grid;
    grid-template-columns: 290px 1fr;
    align-items: end;
}

.table-container .header a {
    margin: 0;
    width: 120px;
}

.table-container .form button {
    margin: 0;
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    box-sizing: border-box;
    grid-gap: 8px;
}

.table-container .header form input {
    border: 1px solid #eee;
    padding-left: 8px;
}

/* === PAGINATION ===*/

.pagination {
    font-size: 18px;
    font-weight: bold;
    height: 0px;
    margin-top: 50px;
    position: absolute;
    margin-left: 300px;

}

.pagination a,
.pagination span {
    text-decoration: none;
    color: var(--primary-color);    
    margin-right: 20px;
}

.pagination a:hover {
    color: black;
    font-size: 20px;
    border-bottom: 1px solid black;
}