{% extends "layout.njk" %}

    {% block head %}
        <title>Cadastro Professores</title>
    {% endblock %}

    {% block content %}

    <div class="card">

        <section style="background: url({{teacher.avatar_url}}) no-repeat center center/ cover" 
            class="image">
        </section>

        <section class="details">

            <form  method="POST" action="/instructor?_method=PUT">

                <h3>Professor</h3>

                {% include "instructor/fields.njk" %}

                <input type="hidden" name="id" value="{{teacher.id}}">
            
            </form>

            <form id="delete" action="/instructor?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{teacher.id}}">
                <button type="submit">Deletar</button>
            </form>

            <script>
                const formDelete = document.querySelector("#delete")
                
                formDelete.addEventListener("submit", function(event) {
                    const confirmation = confirm("Deseja deletar?")
                    if (!confirmation) {
                            event.preventDefault()
                    }
                })
            </script>
        </section>
    </div>

    {% endblock content %}