{% extends "layout.njk" %}

    {% block head %}
        <title>Cadastro Professores</title>
    {% endblock %}

    n{% block content %}

        <div class="card">
        
            <section style="background: url({{teacher.avatar_url}}) no-repeat center center/ cover" 
            class="image"></section>

            <section class="details">

                <h3>Professor</h3>

                <div class = "item">
                    <div>Nome Completo</div>
                    <div>{{teacher.name}}</div>
                </div>

                <div class= "item">
                    <div>Idade</div>
                    <div>{{teacher.age}}</div>
                </div>

                <div class= "item">
                    <div>Grau de escolaridade</div>
                    <div>{{teacher.educationlevel}}</div>
                </div>

                <div class= "item">
                    <div>Tipo de aula</div>
                    <div>{{teacher.classtype}}</div>
                </div>

                <div class = "item">
                    <div>Acompanhamento</div>
                    <div>
                    {% for course in teacher.subjectstaught %}
                        <span>{{course}}</span>
                    {% endfor %}
                    </div>
                </div>

                <div class="item">
                    <div>Desde</div>
                    <div>{{teacher.created_at}}</div>
                </div>

                <a href="/instructor/{{teacher.id}}/edit" class="button">Editar</a>

            </section>

        </div>

    {% endblock content %}